.vscode
build/
omniback*.egg-info/
dist/
v0
__pycache__/
lib*.so
*.cpython*.so
core
!core.*
!core/
.tox
version.py
omniback/version.py
.setuptools-cmake-build/
version.py
plugins/torchpipe/torchpipe/native.so
wheelhouse/
.pytest_cache/
.eggs/
VERSION.txt
*.trt
log.txt
.trunk
*.swp
omniback/_build_info.py
ali/
plugins/torchpipe/examples/yolo/dog_result.jpg
.trunk/
tmp.md

plugins/torchpipe/exp/exp2/tmp.txt
plugins/torchpipe/exp/exp2batch/tmp.txt
plugins/torchpipe/exp/model_parameters
tmp.py
*.onnx
*.onnx.data
omniback/_version.py
site/
_version.py


build_cxx11/
build_cxx03/
omniback/lib/
libs/