.vscode
build/
hami*.egg-info/
dist/
__pycache__/
lib*.so
*.cpython*.so
core
!core/
.tox
version.py
hami/version.py
.setuptools-cmake-build/
version.py
plugins/torchpipe/torchpipe/native.so
wheelhouse/
.pytest_cache/
.eggs/
VERSION.txt
*.trt
log.txt