[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
    branch = v1.x
[submodule "thirdparty/subprocess"]
	path = thirdparty/subprocess
	url = https://github.com/sheredom/subprocess.h.git
[submodule "thirdparty/toml"]
	path = thirdparty/toml
	url = https://github.com/ToruNiina/toml11.git
[submodule "thirdparty/ppl.cv"]
	path = thirdparty/ppl.cv
	url = https://github.com/openppl-public/ppl.cv.git
[submodule "thirdparty/cvnp"]
	path = thirdparty/cvnp
	url = https://github.com/pthom/cvnp.git
