name: Build Manylinux Wheels

on:
  push:
    tags: [ 'v*' ]
  pull_request:
    branches: [ v1 ]

jobs:
  build-manylinux2014:
    runs-on: [self-hosted, linux, X64]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
        path: ${{ github.workspace }}/code-${{ github.run_id }}/

    - name: Build manylinux2014 image
      run: cd ${{ github.workspace }}/code-${{ github.run_id }}/ &&  ls ${{ github.workspace }}/code-${{ github.run_id }}/ && docker build -t manylinux2014 -f docker/Dockerfile.manylinux2014 docker/ 
    
    - name: mkdir wheelhouse
      run: mkdir -p ${{ github.workspace }}/wheelhouse

    - name: Generate manylinux2014 wheels
      run: |
        docker run --rm -v ${{ github.workspace }}:/src manylinux2014 \
          bash -c "cd /src/code-${{ github.run_id }}/ && bash scripts/generate_manylinux2014.sh && bash scripts/pytest_manylinux2014.sh && cp /src/code-${{ github.run_id }}/wheelhouse/*.whl /src/wheelhouse/ && rm -rf /src/code-${{ github.run_id }}/"
    - name: Upload manylinux2014 artifacts
      uses: actions/upload-artifact@v4
      with:
        name: manylinux2014-wheels
        path: ${{ github.workspace }}/wheelhouse/*manylinux2014*.whl

  build-manylinux2_28:
    runs-on: [self-hosted, linux, X64]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
        path: ${{ github.workspace }}/code-${{ github.run_id }}/

    - name: Build manylinux2_28 image
      run: cd ${{ github.workspace }}/code-${{ github.run_id }}/ && docker build -t manylinux2_28 -f docker/Dockerfile.manylinux2_28 docker/

    - name: mkdir wheelhouse
      run: mkdir -p ${{ github.workspace }}/wheelhouse

    - name: Generate manylinux2_28 wheels
      run: |
        docker run --rm -v ${{ github.workspace }}:/src manylinux2_28 \
          bash -c "cd /src/code-${{ github.run_id }}/ && bash scripts/generate_manylinux2_28.sh && bash scripts/pytest_manylinux2_28.sh && cp -r /src/code-${{ github.run_id }}/wheelhouse/*.whl /src/wheelhouse/ && rm -rf /src/code-${{ github.run_id }}/"
    - name: Upload manylinux2_28 artifacts
      uses: actions/upload-artifact@v4
      with:
        name: manylinux2_28-wheels
        path: ${{ github.workspace }}/wheelhouse/*manylinux_2_28*.whl

  publish-to-pypi:
    needs: [build-manylinux2014, build-manylinux2_28]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: [self-hosted, linux, X64]
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Combine wheel files
      run: |
        mkdir -p wheelhouse
        latest_version=$(ls artifacts/*.whl | grep -oP '(?<=-)[0-9]+\.[0-9]+\.[0-9]+' | sort -V | tail -n 1)
        echo "Latest version: $latest_version"
        find artifacts -name "*${latest_version}*.whl" -exec cp {} wheelhouse/ \;

    - name: Install twine
      run: pip install twine

    - name: Validate wheels
      run: |
        twine check wheelhouse/*.whl
        
    - name: Publish to PyPI
      run: |
        twine upload wheelhouse/*.whl
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
    - name: Cleanup wheelhouse directory
      run: rm -rf wheelhouse