name: Build Manylinux Wheels

on:
  push:
    branches: [ v1 ]
  pull_request:
    branches: [ v1 ]

jobs:
  build-manylinux2014:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
          submodules: true

    - name: Build manylinux2014 image
      run: docker build -t manylinux2014 -f docker/Dockerfile.manylinux2014 docker/

    - name: Generate manylinux2014 wheels
      run: |
        docker run --rm -v ${{ github.workspace }}:/src manylinux2014 \
          bash -c "cd /src && bash script/generate_manylinux2014.sh"

    - name: Run automatic tests
      run: |
        docker run --rm -v ${{ github.workspace }}:/src manylinux2014 \
          bash -c "cd /src && bash scripts/pytest_manylinux2014.sh"

    - name: Upload manylinux2014 artifacts
      uses: actions/upload-artifact@v4
      with:
        name: manylinux2014-wheels
        path: wheelhouse/*manylinux2014*.whl

  build-manylinux2_28:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
          submodules: true

    - name: Build manylinux2_28 image
      run: docker build -t manylinux2_28 -f docker/Dockerfile.manylinux2_28 docker/

    - name: Generate manylinux2_28 wheels
      run: |
        docker run --rm -v ${{ github.workspace }}:/src manylinux2_28 \
          bash -c "cd /src && bash script/generate_manylinux2_28.sh"

    - name: Run automatic tests
      run: |
        docker run --rm -v ${{ github.workspace }}:/src manylinux2_28 \
          bash -c "cd /src && bash scripts/pytest_manylinux2_28.sh"

    - name: Upload manylinux2_28 artifacts
      uses: actions/upload-artifact@v4
      with:
        name: manylinux2_28-wheels
        path: wheelhouse/*manylinux2_28*.whl

  publish-to-pypi:
    needs: [build-manylinux2014, build-manylinux2_28]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Combine wheel files
      run: |
        mkdir -p wheelhouse
        find artifacts -name '*.whl' -exec cp {} wheelhouse/ \;

    - name: Publish to PyPI
      run: |
        twine upload wheelhouse/*.whl
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}