name: Build Manylinux Wheels

on:
  push:
    branches: [ v1 ]
  pull_request:
    branches: [ v1 ]

jobs:
  build-manylinux2014:
    runs-on: [self-hosted, linux, X64]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Build manylinux2014 image
      run: docker build -t manylinux2014 -f docker/Dockerfile.manylinux2014 docker/

    - name: Generate manylinux2014 wheels
      run: |
        mkdir -p /tmp/manylinux2014
        cp -r ${{ github.workspace }}/* /tmp/manylinux2014/
        docker run --rm -v /tmp/manylinux2014:/src manylinux2014 \
          bash -c "cd /src && bash scripts/generate_manylinux2014.sh && bash scripts/pytest_manylinux2014.sh"


    - name: Upload manylinux2014 artifacts
      uses: actions/upload-artifact@v4
      with:
        name: manylinux2014-wheels
        path: /tmp/manylinux2014/wheelhouse/*manylinux2014*.whl

  build-manylinux2_28:
    runs-on: [self-hosted, linux, X64]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Build manylinux2_28 image
      run: docker build -t manylinux2_28 -f docker/Dockerfile.manylinux2_28 docker/

    - name: Generate manylinux2_28 wheels
      run: |
        mkdir -p /tmp/manylinux2_28
        cp -r ${{ github.workspace }}/* /tmp/manylinux2_28/
        docker run --rm -v /tmp/manylinux2_28:/src manylinux2_28 \
          bash -c "cd /src && bash scripts/generate_manylinux2_28.sh && bash scripts/pytest_manylinux2_28.sh"

    - name: Upload manylinux2_28 artifacts
      uses: actions/upload-artifact@v4
      with:
        name: manylinux2_28-wheels
        path: /tmp/manylinux2_28/wheelhouse/*manylinux_2_28*.whl

  publish-to-pypi:
    needs: [build-manylinux2014, build-manylinux2_28]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: [self-hosted, linux, X64]
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Combine wheel files
      run: |
        mkdir -p wheelhouse
        find artifacts -name '*.whl' -exec cp {} wheelhouse/ \;

    - name: Publish to PyPI
      run: |
        twine upload wheelhouse/*.whl
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}