name: Build Manylinux Wheels

on:
  push:
    branches: [ v1 ]
  pull_request:
    branches: [ v1 ]

jobs:
  build-wheels:
    runs-on: [self-hosted, linux, X64]
    strategy:
      matrix:
        image_type: [manylinux2014, manylinux2_28]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Clean workspace
      run: |
        rm -rf wheelhouse/${{ matrix.image_type }}
        mkdir -p wheelhouse/${{ matrix.image_type }}

    - name: Build Docker image
      run: |
        docker build -t ${{ matrix.image_type }} \
          -f docker/Dockerfile.${{ matrix.image_type }} \
          docker/

    - name: Generate wheels and clean
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/src \
          -v ${{ github.workspace }}/wheelhouse/${{ matrix.image_type }}:/wheelhouse \
          ${{ matrix.image_type }} \
          bash -c "cd /src && \
                  bash scripts/generate_${{ matrix.image_type }}.sh && \
                  rm -rf .eggs .pytest_cache hami.egg-info"

    - name: Run tests and clean
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/src \
          -v ${{ github.workspace }}/wheelhouse/${{ matrix.image_type }}:/wheelhouse \
          ${{ matrix.image_type }} \
          bash -c "cd /src && \
                  bash scripts/pytest_${{ matrix.image_type }}.sh && \
                  rm -rf .eggs .pytest_cache"

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.image_type }}-wheels
        path: wheelhouse/${{ matrix.image_type }}/*.whl

  publish-to-pypi:
    needs: [build-wheels]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: [self-hosted, linux, X64]
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Combine wheel files
      run: |
        mkdir -p merged_wheelhouse
        # 将所有 artifact 中的 wheel 文件复制到 merged_wheelhouse
        find artifacts -mindepth 1 -type f -name '*.whl' -exec cp {} merged_wheelhouse/ \;

    - name: Publish to PyPI
      run: |
        twine upload merged_wheelhouse/*.whl
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}