name: Deploy Docs on PR

on:
  push:
    branches:
      - main  
    paths:
      - 'mkdocs.yml'
      - 'plugins/torchpipe/docs/**' 
      - '.github/workflows/deploy.yml'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages-${{ github.head_ref }}"  # 按 PR 分支区分并发
  cancel-in-progress: true

jobs:
  build-and-preview:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}  # 检查 PR 分支的代码
          
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          
      - name: Install dependencies
        run: pip install zensical
        
      - name: Build documentation
        run: zensical build --clean
        
      - name: Setup Pages
        uses: actions/configure-pages@v4
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./site
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4