name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - v1  
    paths:
      - 'mkdocs.yml'
      - 'plugins/torchpipe/docs/**' 
      - '.github/workflows/deploy.yml'

permissions:
  contents: write  
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: |
          pip install mkdocs-material
          pip install pymdown-extensions 

      - name: Build docs
        run: mkdocs build --clean

      # 使用 peaceiris/actions-gh-pages 进行部署
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # 使用 GITHUB_TOKEN
          publish_dir: ./site  # MkDocs build 的输出目录
          publish_branch: gh-pages # 推送到 gh-pages 分支
          # force_orphan: true 